[submodule "submodules/kicad"]
	path = submodules/kicad
	url = https://gitlab.com/kicad/code/kicad.git
	shallow = true
[submodule "submodules/RememberRemember"]
	path = submodules/RememberRemember
	url = git@github.com:beelsebob/RememberRemember.git
[submodule "submodules/Copper"]
	path = submodules/Copper
	url = git@github.com:beelsebob/Copper.git
