[submodule "submodules/RememberRemember"]
	path = submodules/RememberRemember
	url = https://github.com/beelsebob/RememberRemember
[submodule "submodules/Copper"]
	path = submodules/Copper
	url = https://github.com/beelsebob/Copper
[submodule "submodules/libkicad"]
	path = submodules/libkicad
	url = https://github.com/beelsebob/libkicad
