[submodule "submodules/kicad"]
	path = submodules/kicad
	url = https://gitlab.com/kicad/code/kicad.git
	shallow = true
[submodule "submodules/RememberRemember"]
	path = submodules/RememberRemember
	url = https://github.com/beelsebob/RememberRemember
[submodule "submodules/Copper"]
	path = submodules/Copper
	url = https://github.com/beelsebob/Copper
[submodule "submodules/libkicad"]
	path = submodules/libkicad
	url = https://github.com/beelsebob/libkicad
